/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  overflow-x: hidden;
}

.fa-user{
  color: gray !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 11px 9px -11px rgba(150, 150, 150, 1);
  -moz-box-shadow: 3px 11px 9px -11px rgba(150, 150, 150, 1);
  box-shadow: 3px 11px 9px -11px rgba(150, 150, 150, 1);
}

nav a {
  color: gray;
  text-decoration: none;
  margin-right: 10px;
  padding-bottom: 5px;
  transition: 300ms;
}

.copy_right a {
  font-size: 0.8em;
  color: orange;
  text-decoration: none;
}

.content a {
  color: rgb(41, 41, 41);
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 95, 2);
  border-bottom: 3px solid rgb(255, 95, 2);
}

.navbar-brand {
  color: rgb(255, 95, 2) !important;
}

#notice {
  margin-bottom: 0;
}

.img_div img {
  height: 600px;
}

.alert {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 0;
  height: 50px;
}

.head-section {
  display: flex;
}

.weather {
  width: 25%;
}

.cats-container {
  width: 100vw;
  display: flex;
}

.index-cat-card {
  width: 25vw;
  height: 100px;
}

.main-img {
  height: 80vh !important;
  border-radius: 0 !important;
  width: 70%;
}

.header-img-content {
  top: 70% !important;
  position: absolute;
}

.cat-img {
  height: 250px;
  width: 25vw;
}

.card-img,
.card-img-bottom {
  border-radius: 0 !important;
}

.card-img,
.card-img-top {
  border-radius: 0 !important;
}

.card {
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  background-clip: border-box !important;
  border: none !important;
  border-radius: 0 !important;
}

.btns {
  display: flex;
}

.footer .social a {
  color: white;
}

small,
.small {
  font-size: 0.875em;
  color: white;
}

.show-container {
  margin: 0 auto;
  width: 90vw;
  margin-top: 50px;
}

.show-container .img-section {
  width: 70%;
}

.show-container img {
  width: 100%;
}


.top-detail .category-name {
  color: rgb(255, 107, 21);
}

.form-body {
  background: #108dc7;
  background: linear-gradient(to right, #ef8e38, #108dc7);
  background: linear-gradient(to right, #ef8e38, #108dc7);
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding-top: 50px;
}

.form-body .new_article {
  height: 90vh;
}

.form-body form {
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px -1px #000;
  box-shadow: 1px 1px 4px -1px #000;
  margin: 0 auto;
  height: 50%;
  display: flex;
  padding: 50px 30px;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background: #d3cce3;
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
}

.form-body form input {
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  padding: 1px 10px;
  margin-bottom: 10px;
}

.form-body form textarea {
  border: none;
  border-radius: 3px;
  height: 150px;
  width: 300px;
  padding: 1px 10px;
  margin-bottom: 10px;
}

.form-body form select {
  border: none;
  border-radius: 3px;
  width: 300px;
  padding: 1px 10px;
  margin-bottom: 10px;
  background-color: white;
  height: 50px;
}

.form-body form .submit {
  background-color: rgb(255, 123, 0);
  color: white;
  padding: 1px 30px;
}

.form-body form .submit:hover {
  background-color: rgb(250, 144, 45);
}

.form-body .title {
  text-align: center;
}

.error {
  list-style: none;
  color: rgb(255, 115, 0);
}

footer {
  background: #140000;
  height: 50px;
}

footer .wrapper {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer .social a i {
  color: white;
}

.fab,
.far {
  font-weight: 400;
  color: white;
}

.turbolinks-progress-bar {
  color: red;
}

.copy_right a span {
  color: rgb(255, 255, 255);
}

.vote {
  border: none;
  background-color: rgb(255, 123, 0);
  color: white;
  height: 30px;
  margin-left: 5px;
  border-radius: 3px;
}

.edit {
  text-decoration: none;
  padding: 0 10px;
}

.edit:hover {
  color: white;
}

