<footer class="fixed-bottom">
 <div class="wrapper">

    <%= link_to "YoLLoo", root_path, class:"navbar-brand"%>
    
    <div class="copy_right">
        <a href="">Privacy Policy</a>
        <a href="">Terms & Condtions</a>
        <a href=""><span>Copyright 2021. All rights reserved</span></a>
    </div>

    <div class="social">
        <small>Contact us: </small>
        <a href=""><i class="fab fa-linkedin"></i></a> 
        <a href=""><i class="fab fa-github"></i></a> 
        <a href=""><i class="fab fa-twitter-square"></i></a>  
    </div>

 </div>
</footer>